In [1]:
import pandas as pd

In [2]:
from google.colab import files 
files.upload()

Saving aapl_no_dates.csv to aapl_no_dates.csv

{'aapl_no_dates.csv': b'Open,High,Low,Close,Volume,\r\n144.88,145.3,143.1,143.5,14277848,\r\n143.69,144.79,142.72,144.09,21569557,\r\n143.02,143.5,142.41,142.73,24128782,\r\n142.9,144.75,142.9,144.18,19201712,\r\n144.11,145.95,143.37,145.06,21090636,\r\n144.73,145.85,144.38,145.53,19781836,\r\n145.87,146.18,144.82,145.74,24884478,\r\n145.5,148.49,145.44,147.77,25199373,\r\n147.97,149.33,147.33,149.04,20132061,\r\n148.82,150.9,148.57,149.56,23793456,\r\n149.2,150.13,148.67,150.08,17868792,\r\n150.48,151.42,149.95,151.02,20922969,\r\n151.5,151.74,150.19,150.34,17243748,\r\n149.99,150.44,148.88,150.27,26252630,\r\n'}

In [3]:
df = pd.read_csv("aapl_no_dates.csv")
df.head()

     Open    High     Low   Close    Volume  Unnamed: 5
0  144.88  145.30  143.10  143.50  14277848         NaN
1  143.69  144.79  142.72  144.09  21569557         NaN
2  143.02  143.50  142.41  142.73  24128782         NaN
3  142.90  144.75  142.90  144.18  19201712         NaN
4  144.11  145.95  143.37  145.06  21090636         NaN

In [4]:
rng = pd.date_range(start="7/1/2017", end="7/21/2017", freq='B')
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [5]:
#Using CustomBusinessDay to generate US holidays calendar frequency
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [6]:
df.set_index(rng,inplace=True)
df.head()

              Open    High     Low   Close    Volume  Unnamed: 5
2017-07-03  144.88  145.30  143.10  143.50  14277848         NaN
2017-07-05  143.69  144.79  142.72  144.09  21569557         NaN
2017-07-06  143.02  143.50  142.41  142.73  24128782         NaN
2017-07-07  142.90  144.75  142.90  144.18  19201712         NaN
2017-07-10  144.11  145.95  143.37  145.06  21090636         NaN

In [7]:
#AbstractHolidayCalendar
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=4, day=15),#, observance=nearest_workday),
    ]
    
my_bday = CustomBusinessDay(calendar=myCalendar())
pd.date_range('4/1/2017','4/30/2017',freq=my_bday)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-14', '2017-04-17', '2017-04-18',
               '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24',
               '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

In [8]:
#CustomBusinessDay
egypt_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=egypt_weekdays)

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-16', '2017-07-17',
               '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-23',
               '2017-07-24', '2017-07-25', '2017-07-26', '2017-07-27'],
              dtype='datetime64[ns]', freq='C')

In [9]:
#You can also add holidays to this custom business day frequency
b = CustomBusinessDay(holidays=['2017-07-04', '2017-07-10'], weekmask=egypt_weekdays)

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-16', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-23', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-30', '2017-07-31'],
              dtype='datetime64[ns]', freq='C')

In [10]:
#Mathematical operations on date object using custom business day
from datetime import datetime
dt = datetime(2017,7,9)
dt

datetime.datetime(2017, 7, 9, 0, 0)

In [11]:
dt + 1*b

Timestamp('2017-07-11 00:00:00')